:root {
  --aqua: #15b38b;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --seagrass: #048686;
}

nav {
  height: 100px;
  padding-left: 110px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--teal);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: var(--aqua);
  }

  .active {
    background-color: var(--seagrass);
  }
}

.outlet {
  padding: 5px;
  height: calc(100% - 110px);
  display: flex;
  flex-flow: column;
}

.logo {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 5px;
}
