.misdemeanours {
  display: flex;
  flex-flow: column;
  height: 100%;

  .list {
    overflow: auto;
    display: grid;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    text-align-last: center;
    justify-self: center;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
